# Xcode
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!default.xcworkspace
.DS_Store
.idea/
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xcworkspace
build/
DerivedData
profile
SmyteSDK.framework
Tests/Podfile.lock
Tests/Pods
xcuserdata
